* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#navegation {
  position: fixed;
  background-color: white;
  padding-right: 84%;
}

.link {
  text-decoration: none;
}

.icon {
  width: 36px;
  cursor: pointer;
  margin-left: 15px;
}

#link-texto-sobre {
  font-size: 20px;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 20px;
  text-decoration: none;
  position: absolute;
  margin-left: 70%;
  margin-top: 10px;
}

#link-texto-skills {
  font-size: 20px;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 20px;
  text-decoration: none;
  position: absolute;
  margin-left: 77%;
  margin-top: 10px;
}

#principal {
  background-image: url('background.jpg');
  padding-bottom: 3%;
}

#conteudo{
  padding-top: 150px;
}

#foto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border: 5px solid white;
  border-radius: 100%;
}

#titulo, #subtitulo {
  font-size: 90px;
  margin: 0%;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  text-align: center;
}

#subtitulo {
  font-size: 30px;
}

#sobre {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.titulo-div {
  font-size: 40px;
  font-weight: bolder;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 40px;
}

#texto {
  font-size: 20px;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 40px;
}

#foto-do-rio {
  background-image: url('background.jpg');
  padding-top: 4%;
  padding-bottom: 4%;
}

#rj {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: 5px solid white;
}

#skills {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lista {
  font-size: 20px;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 60px;
}

#footer {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(10, 10, 10);
}

#texto-footer {
  font-size: 20px;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 30px;
}