* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.9em;
}

::-webkit-scrollbar-track {
  background: rgb(230, 228, 228);
}

::-webkit-scrollbar-thumb {
  background: rgb(99, 99, 99);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(87, 87, 87);
}


#navegation {
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  background-color: rgb(10, 10, 10);;
  display: flex;
  justify-content: center;
}

.link-texto {
  font-size: 1.2em;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 20px;
  text-decoration: none;
  transition: padding 0.3s;
  transition: background-color 0.3s;
  transition: color 0.3s;
}

.link-texto:hover {
  padding: 5px;
  background-color: white;
  color: rgb(10, 10, 10);
}


#principal {
  background-image: url('background.jpg');
  padding-bottom: 3%;
}

#conteudo{
  padding-top: 100px;
}

#foto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border: 3px solid white;
  border-radius: 100%;
}

#titulo, #subtitulo {
  font-size: 6em;
  text-shadow: 1px 0 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
  margin: 0%;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  text-align: center;
}

#subtitulo {
  font-size: 2em;
}

#div-antes-sobre, #div-antes-skills, #div-antes-educacao, #div-antes-contatos {
  background-color: white;
  border-top: 2px solid black;
}

#sobre, #skills, #contato, #educacao {
  background-color: white;
  border-bottom: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.titulo-div {
  font-size: 2em;
  font-weight: bolder;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 40px;
}

.texto {
  font-size: 1.2em;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 40px;
}

#texto-email {
  font-size: 1em;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-top: 10px;
}

.foto-div {
  background-image: url('background.jpg');
  padding-top: 4%;
  padding-bottom: 4%;
}

.imagem {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: 3px solid white;
}

.lista {
  font-size: 20px;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 60px;
  text-decoration: none;
}

.texto-educacao {
  font-size: 20px;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 40px;
}

.link {
  text-decoration: none;
}

.icon {
  width: 30px;
  cursor: pointer;
}

#github-text, #ig-text, #linkedin-text {
  font-size: 20px;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 0px;
  text-decoration: none;
  transition: font-size 0.3s;
}

#github-text {
  color:  rgb(130, 0, 130);
  transition: font-size 0.3s;
}

#ig-text {
  color: rgb(247, 80, 169);
  transition: font-size 0.3s;
}

#linkedin-text {
  color: rgb(0, 38, 255);
  transition: font-size 0.3s;
}

#github-text:hover, #ig-text:hover, #linkedin-text:hover {
  font-size: 22px;
  text-decoration: underline;
}

#footer {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(10, 10, 10);
}

#texto-footer {
  font-size: 20px;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  text-align: center;
}
